<a href="https://colab.research.google.com/github/juanmoreira20/Machine-Learning/blob/main/wineQualityKmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
# critério de parada para leitura dos dados
stop = 10**15

In [ ]:
#Leitura e inserção do tipo do vinho
db = pd.read_csv(
     '/content/winequality-red.csv',
    sep = ';'


    )

In [ ]:
Data = db[:stop]
Data.insert(12,'Type',1)

In [ ]:
Data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Type
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,1

In [ ]:
#leitura e inserção do tipo do vinho
db2 = pd.read_csv(
     '/content/winequality-white.csv',
    sep = ';'


    )

In [ ]:
Data2 = db2[:stop]

In [ ]:
Data2.insert(12,'Type',0)

In [ ]:
Data2

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,0
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,0
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,0
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [ ]:
#Concatenando os dataframes para juntar o vinho branco e tinto
frames = [Data, Data2]
Data_ = pd.concat(frames)
Data_

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [ ]:
#Separação de dados entre treino e teste
from sklearn.model_selection import train_test_split
X = Data_.iloc[:, 0:11]
y = np.ravel(Data_.Type)

x_train, x_test, y_train, y_test = train_test_split(
		X, y, test_size = 0.2, random_state = 200)

In [ ]:
#Pré processamento
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [ ]:
X

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8

In [ ]:
import sklearn
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters = 2, random_state = 200)
KMmodel = kmeans.fit(x_train)
k = KMmodel.labels_

In [ ]:
sklearn.metrics.accuracy_score(y_train,k)

0.9844140850490668

In [ ]:
p = kmeans.predict(x_test)

In [ ]:
sklearn.metrics.accuracy_score(y_test,p)

0.9907692307692307

Rede neural abaixo

In [ ]:
#import keras 
from keras.models import Sequential
from keras.layers import Dense

# Iniciando o construtor
model = Sequential()

# Adicionando a camada de entrada
model.add(Dense(12, activation ='relu', input_shape =(11, )))

# Adicionando a camada hidden
model.add(Dense(9, activation ='relu'))

# Adicionando a saída
model.add(Dense(1, activation ='sigmoid'))

model.output_shape

model.summary()

model.get_config()


model.get_weights()
#Definição do modelo
model.compile(loss ='binary_crossentropy',
optimizer ='adam', metrics =['accuracy'])

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 12)                144

 dense_7 (Dense)             (None, 9)                 117

 dense_8 (Dense)             (None, 1)                 10

=================================================================
Total params: 271
Trainable params: 271
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Treinamento
model.fit(x_train, y_train, epochs = 3,
		batch_size = 1, verbose = 1)

# Predição
y_pred = model.predict(x_test)

Epoch 1/10
5197/5197 [==============================] - 13s 2ms/step - loss: 0.0879 - accuracy: 0.9761
Epoch 2/10
5197/5197 [==============================] - 12s 2ms/step - loss: 0.0265 - accuracy: 0.9937
Epoch 3/10
5197/5197 [==============================] - 11s 2ms/step - loss: 0.0210 - accuracy: 0.9952
Epoch 4/10
5197/5197 [==============================] - 11s 2ms/step - loss: 0.0179 - accuracy: 0.9967
Epoch 5/10
5197/5197 [==============================] - 11s 2ms/step - loss: 0.0159 - accuracy: 0.9967
Epoch 6/10
5197/5197 [==============================] - 11s 2ms/step - loss: 0.0145 - accuracy: 0.9969
Epoch 7/10
5197/5197 [==============================] - 11s 2ms/step - loss: 0.0146 - accuracy: 0.9971
Epoch 8/10
5197/5197 [==============================] - 11s 2ms/step - loss: 0.0134 - accuracy: 0.9969
Epoch 9/10
5197/5197 [==============================] - 11s 2ms/step - loss: 0.0118 - accuracy: 0.9969
Epoch 10/10
5197/5197 [==============================] - 12s 2ms/step - loss: 0.0132 - accuracy: 0.9967
41/41 [==============================] - 0s 1ms/step